<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script>
$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>
    <meta charset="UTF-8">
    <title>What's Up Brah?</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="build/build.css">
    <!-- endinject -->
</head>

<body ng-controller="appCtrl as app" ng-init="app.setMap()">
<div class="se-pre-con"></div>
    <main>
        <div class="box">
            <h1 class="content heading is-medium ng-cloak" ng-cloak>{{app.shuffleHeadings()}}</h1>
            <i ng-click="settings = !settings" ng-hide="settings" class="icon fa fa-bars"></i>
            <i ng-click="settings = !settings" ng-show="settings" class="icon fa fa-times"></i>
        </div>
    </main>
    <br>
    <div ng-show="settings" class="box">
        <form>
            <h1 class="content is-large">Settings</h1>
            <h2 class="content">Select which types of places you would like to see...</h2>
            <div class="columns">
                <div class="column">
                    <h2 class="content is-medium">Serious Stuff</h2>
                    <p class="control" ng-repeat="seriousThing in app.serious_types">
                        <input type="checkbox" id="seriousThing">
                        <label for="funThing">{{seriousThing.split("_").join(" ")}}</label>
                    </p>
                </div>
                <div class="column">
                    <h2 class="content is-medium">Fun Stuff</h2>
                    <p class="control" ng-repeat="funThing in app.fun_types">
                        <input type="checkbox" id="funThing">
                        <label for="funThing">{{funThing.split("_").join(" ")}}</label>
                    </p>
                </div>
                <div class="column">
                    <h2 class="content">Select a search radius (meters)...</h2>
                    <p class="control select">
                        <select class="is-medium" type="text" placeholder="50000 Meters">
                            <option value="5">10</option>
                            <option value="50">100</option>
                            <option value="50">1000</option>
                            <option value="50">10000</option>
                            <option value="50">25000</option>
                            <option value="50">50000</option>
                        </select>
                    </p>
                </div>
            </div>
            <!-- <input value="amusement_park" type="checkbox" class="checkbox">
            <label>Amusement park</label>
            <br>
            <input value="aquarium" type="checkbox" class="checkbox">
            <label>Aquarium</label>
            <br>
            <input value="bar" type="checkbox" class="checkbox">
            <label>Bar</label>
            <br>
            <input value="art_gallery" type="checkbox" class="checkbox">
            <label>Art gallery</label>
            <br>
            <input value="book_store" type="checkbox" class="checkbox">
            <label>Book store</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <input value="casino" type="checkbox" class="checkbox">
            <label>Casino</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>Campground</label>
            <br>
            <input value="beauty_salon" type="checkbox" class="checkbox">
            <label>Beauty salon</label>
            <br>
            <input value="florist" type="checkbox" class="checkbox">
            <label>Florist</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>Movie rental</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <input value="campground" type="checkbox" class="checkbox">
            <label>campground</label>
            <br>
            <br>
             -->
        </form>
    </div>
    <div class="box" ng-controller="addressInputCtrl as search">
        <form class="control is-grouped">
            <p class="control is-expanded">
                <input class="input is-medium" type="text" ng-model="search.addressInput" placeholder="Address" g-places-autocomplete autofocus>
            </p>
            <p class="control">
                <button class="button is-primary is-medium" ng-click="search.searchForThingsToDo()">Search</button>
            </p>
        </form>
    </div>
    <div id="map" class="box">
        <!--Map Container-->
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <strong>
                <a href='https://github.com/wishinghand/10-API-Hackathon.git'>What’s Up?</a>
            </strong> was created by
            <a href="http://qobbler.com">Jason Land</a>,
            <a href="https://github.com/comrww">Ryan Wilson</a>, and
            <a href="https://github.com/rdowdy">Ryan Dowdy.</a>
        </div>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <!-- inject:js -->
    <script src="build/build.js"></script>
    <!-- endinject -->
</body>
</html>