/* #map {
    height: 500px;
} */

.angular-google-map-container { 
	height: 45em;
	padding: 0.3em;
}


.inline-block {
    display: inline-block !important;
}

.inline {
	display: inline;
}

.box h1.heading {
    display: inline !important;
}

.box i {
    display: inline !important;
    float: right !important;
}

.ng-cloak {
    display: none;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("/src/css/preloader.gif") center no-repeat #fff;
}

.add-margin {
	margin: 2em;
}

.light-grey {
	color: lightgrey;
}

.settings {
	justify-content: right;
    text-align: right;
}
